.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999; /* Navbar'ın üzerinde olması için yüksek z-index */
  background: transparent;
  pointer-events: none; /* Tıklamaları engellememesi için */
}

.progressFill {
  height: 100%;
  background: var(--primary);
  width: 0%;
  transition: width 0.1s linear;
  border-radius: 0 2px 2px 0;
}
